body{
margin:0px;
}
.main-container__header{
margin-top:50px;
margin-bottom:50px;
}

.main-container{
width:1062px;
margin:auto;
}
.header__navigation-menu{
float:right;
display: inline-block;
}
.header__navigation-menu ul{
margin:0px;
}

.header__navigation-menu ul li{
display: inline-block;
list-style:none;
margin-right:80px;
}
.header__navigation-menu ul li:last-child{
margin:0px;
}
.header__navigation-menu ul li a{
color:#000000;
text-decoration: none;
}
.main-contaier__main{
overflow:hidden;
}
.main__section1{
width:55%;
float:left;
display: inline-block;
margin-top:100px;
padding-right:110px;
}


.main__aside{
width:30%;
float:right;
display: inline-block;
margin-top:100px;
}
.iconki ul{
margin-top:0px;
padding:0px;
}
.iconki ul li{
display: inline-block;
list-style:none;
margin-right:30px;
}
.aside__topposts{
margin-top:30px;
}
.TOPPOSTS ul li{
margin-top:35px;
}
.TOPPOSTS ul li a{
color:#000000;
text-decoration: none;
}
.share{
margin-left:450px;

}
.share ul li{
display: inline-block;
list-style:none;
margin-right:30px;
}

.share ul li a{
color:#000000;
text-decoration: none;
}
.foother{
height:100px;
background: #cccccc;
}
.foother__menufoother{
float:left;
margin-top:25px;
}
.foother__menufoother ul li{
display: inline-block;
list-style:none;
margin-right:30px;

}
.foother__menufoother2{
float:right;
margin-top:25px;
}
.foother__menufoother ul li a{
color:#000000;
text-decoration: none;
}
.foother__menufoother2 ul li{
display: inline-block;
list-style:none;
margin-right:30px;
}
.foother__menufoother2 ul li a{
color:#000000;
text-decoration: none;
}
